{% extends 'base.html.twig' %}

{% block body %}
<h1> {{ title }} </h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto aspernatur assumenda at atque consequuntur cumque cupiditate delectus, dicta dolorum labore maxime minima minus neque placeat quaerat quas repellendus ullam veniam, vero. Accusamus blanditiis cupiditate ipsam ipsum neque provident quis.
    Aut consequatur corporis dolorem et excepturi exercitationem expedita facilis ipsa labore, neque non odit quibusdam quis quod repellat sequi vitae! Culpa delectus, fuga quibusdam repellendus sequi vel. Aspernatur deleniti ea inventore iure molestias nam, placeat quam ratione rerum, similique tenetur.
</p>
{% endblock %}